<li>
  <div class="well">
  <p><%= comment.body %></p>
    <% if current_user != nil %>
      <p><%= link_to "Edit comment", edit_post_comment_path(@post, comment) %></p>
      <p><%= link_to "Delete comment", post_comment_path(@post, comment),
                                  :data => {:method => "delete"} %></p>
    <% end %>
  </div>
</li>
