<% content_for(:title, "Blog Posts") %>

<h1>Posts</h1>

<div class="well">
  <ul class='list-unstyled'>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
</div>

<p><%= link_to "Create a new post", new_post_path %></p>
